{{#link-to 'boards.index'}}
<div class="page-header">
    <h1>
        Pro Process - Trello ын жижиг хувилбар
    </h1>
    <p>
        Ember JS болон Firebase ашиглан хийсэн жижиг хэмжээний төслийн үйл явцын систем.
    </p>
</div>
{{/link-to}}